<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Planning{% endblock %}</title>
        
        <link href="{{ asset('/assets/fontawesome/css/fontawesome.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/fontawesome/css/solid.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="{{ asset('/images/planning_icon.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white h-screen">
        {% block body %}{% endblock %}
    </body>
</html>
